VITE_BETTERMODE_SPACE_ID="8T1ISBmOCN1P"
VITE_BETTERMODE_ACCESS_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IkxjeUdQOWRibUUiLCJuZXR3b3JrSWQiOiJIeFVaSHd6ZnAzIiwibmV0d29ya0RvbWFpbiI6ImJhc2ljLWNkdnB4OGRlLmJldHRlcm1vZGUuaW8iLCJ0b2tlblR5cGUiOiJVU0VSIiwiZW50aXR5SWQiOm51bGwsInBlcm1pc3Npb25Db250ZXh0IjpudWxsLCJwZXJtaXNzaW9ucyI6bnVsbCwic2Vzc2lvbklkIjoiVXBtMGdEMGN6blVpazQzMVJmTGFvSHV1Y0FOSFlGVXRnMWVaaVRHdUg1NE9ZNU9IR3AiLCJpYXQiOjE3MjY4OTk2OTQsImV4cCI6MTcyOTQ5MTY5NH0.4ZqPzt1Y4zuHkoBzdzLgEFhpf9VImC9AAljw8UNXpGY"
VITE_E2E_TEST_HEADLESS="true"
VITE_E2E_TEST_SLOWMO="0"